body {
  margin: 0%;
  padding: 0%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 32px;
  background-color: aliceblue;
  overflow: hidden;
  align-items: center;
}

.wrapper {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  gap: 20px;
  flex-wrap: wrap;
  height: 70vh;
  overflow: scroll;
}

.wrapper::-webkit-scrollbar {
  display: none;
}

.item {
  width: 190px;
  border-radius: 10px;
  background-color: lightcoral;
  height: 120px;
  padding: 12px;
  position: relative;
}

.input-field {
  border: none;
  height: 60px;
  width: 100%;
  border-radius: 12px;
}

.add-button {
  width: 100px;
  height: 30px;
  padding: 7px;
  border: none;
  border-radius: 7px;
  background-color: rgb(0, 0, 0);
  color: white;
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
}

.save {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.delete {
    position: absolute;
    left: 5px;
    bottom: 5px;
    width: 70px;
  }
  